<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://wiki.ros.org/xacro">

  <link name ="base_link"/>

  <xacro:include filename="$(find wam_description)/urdf/fts.urdf.xacro" />

  <xacro:fts prefix="left_lbr_gripper_" parent_link="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:fts>

</robot>
