<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">
  <xacro:macro name="barrett_hand"
	       params="prefix parent_link mimic_joints:=false *origin">

    <xacro:macro name="gray_color">
      <material name="">
	<color rgba="0.796078431372549 0.796078431372549 0.752941176470588 1"/>
      </material>
    </xacro:macro>

    <xacro:property name="base_height"		value="0.025"/>
    <xacro:property name="palm_height"		value="0.061"/>
    <xacro:property name="tip_height"		value="0.156"/>
    <xacro:property name="half_tread"		value="0.025"/>
    <xacro:property name="inner_x"		value="0.050"/>
    <xacro:property name="inner_z"		value="0.035"/>
    <xacro:property name="inner_finger_length"	value="0.070"/>
    <xacro:property name="outer_finger_length"	value="0.058"/>

    <xacro:macro name="set_frame" params="name parent *origin">
      <joint name="${name}_joint" type="fixed">
	<parent link="${parent}"/>
	<child  link="${name}"/>
	<xacro:insert_block name="origin"/>
      </joint>
      <link name="${name}"/>
    </xacro:macro>

    <xacro:macro name="barrett_finger"
		 params="fingerprefix parent mimic_joints *origin">
      <joint name="${fingerprefix}joint"
	     type="revolute">
	<xacro:insert_block name="origin"/>
	<parent link="${parent}"/>
	<child  link="${fingerprefix}inner_link"/>
	<axis xyz="0 0 1"/>
	<limit effort="30" velocity="1.5" lower="0.0" upper="${radians(140)}"/>
	<joint_properties damping="100.0" friction="1000.0"/>
	<dynamics damping="1000"/>
      </joint >
      <link name="${fingerprefix}inner_link">
	<inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0"/>
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0"
		   iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
	  <origin xyz="0.0418 0.1115 0.0456"
		  rpy="0 ${radians(90)} ${radians(220)}"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/visual/bhand_link2.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <xacro:gray_color/>
	</visual>
	<collision>
	  <origin xyz="0.0418 0.1115 0.0456"
		  rpy="0 ${radians(90)} ${radians(220)}"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/collision/bhand_link2.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
	</collision>
      </link>

      <joint name="${fingerprefix}outer_joint"
	     type="revolute">
	<origin xyz="${inner_finger_length} 0.0 0.0"
		rpy="0.0 0.0 ${radians(42)}"/>
	<parent link="${fingerprefix}inner_link"/>
	<child  link="${fingerprefix}outer_link"/>
	<axis xyz="0 0 1"/>
	<xacro:if value="${mimic_joints}">
	  <mimic joint="${fingerprefix}joint"
		 multiplier="${45.0/140.0}" offset="0.0"/>
	</xacro:if>
	<limit effort="30" velocity="1.5"
	       lower="0.0" upper="${radians(80)}"/>
	<joint_properties damping="100.0" friction="1000.0"/>
	<dynamics damping="1000"/>
      </joint >
      <link name="${fingerprefix}outer_link">
	<inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0"/>
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0"
		   iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
	  <origin xyz="0.108 0.039 0.046"
		  rpy="${radians(225)} ${radians(90)} 0"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/visual/bhand_link3.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <xacro:gray_color/>
	</visual>
	<collision>
	  <origin xyz="0.108 0.039 0.046"
		  rpy="${radians(225)} ${radians(90)} 0"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/collision/bhand_link3.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
	</collision>
      </link>

      <xacro:set_frame name="${fingerprefix}tip_link"
		       parent="${fingerprefix}outer_link">
	<origin xyz="${outer_finger_length} 0 0" rpy="0 ${radians(-90)} 0"/>
      </xacro:set_frame>
    </xacro:macro>

    <xacro:macro name="barrett_spread" params="fingerprefix">
      <link name="${fingerprefix}spread_link">
	<inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0"/>
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0"
		   iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
	  <origin xyz="-0.0525 -0.0705 -0.025"
		  rpy="${radians(90)} 0 ${radians(90)}"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/visual/bhand_link1.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <xacro:gray_color/>
	</visual>
	<collision>
	  <origin xyz="-0.0525 -0.0705 -0.025"
		  rpy="${radians(90)} 0 ${radians(90)}"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/collision/bhand_link1.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
	</collision>
      </link>
    </xacro:macro>

    <!-- Base -->
    <joint name="${prefix}base_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="${prefix}base_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
    <link name="${prefix}base_link">
      <inertial>
  	<mass value="0.001"/>
	<origin xyz="0 0 0"/>
	<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <visual>
	<origin xyz="0.0454 -0.0535 0.00"
		rpy="${radians(90)} 0 ${radians(-180)}"/>
	<geometry>
          <mesh filename="package://aist_barrett/meshes/visual/bhand_base.stl"
		scale="0.001 0.001 0.001"/>
	</geometry>
	<xacro:gray_color/>
      </visual>
      <collision>
	<origin xyz="0.0454 -0.0535 0.0048"
		rpy="${radians(90)} 0 ${radians(-180)}"/>
	<geometry>
          <mesh filename="package://aist_barrett/meshes/collision/bhand_base.stl"
		scale="0.001 0.001 0.001"/>
	</geometry>
	<contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
      </collision>
    </link>
    <xacro:set_frame name="${prefix}palm_center_link"
		     parent="${prefix}base_link">
      <origin xyz="0.0 0.0 ${palm_height}" rpy="0 0 0"/>
    </xacro:set_frame>
    <xacro:set_frame name="${prefix}tip_link"
		     parent="${prefix}base_link">
      <origin xyz="0.0 0.0 ${tip_height}" rpy="0 ${radians(180)} 0"/>
    </xacro:set_frame>

    <!-- Spread -->
    <joint name="${prefix}spread_joint" type="revolute">
      <origin xyz="${-half_tread} 0.0 ${base_height}"
	      rpy="0.0 0 ${radians(-90)}"/>
      <parent link="${prefix}base_link"/>
      <child  link="${prefix}left_finger_spread_link"/>
      <axis  xyz="0 0 -1"/>
      <limit effort="30" velocity="1.5" lower="0.0" upper="${radians(180)}"/>
      <joint_properties damping="100.0" friction="1000.0"/>
      <dynamics damping="1000"/>
    </joint>
    <xacro:barrett_spread fingerprefix="${prefix}left_finger_"/>

    <joint name="${prefix}right_spread_joint" type="revolute">
      <origin xyz="${half_tread} 0.0 ${base_height}"
	      rpy="0.0 0.0 ${radians(-90)}"/>
      <parent link="${prefix}base_link"/>
      <child  link="${prefix}right_finger_spread_link"/>
      <axis   xyz="0 0 1"/>
      <xacro:if value="${mimic_joints}">
	<mimic joint="${prefix}spread_joint" multiplier="1.0" offset="0.0"/>
      </xacro:if>
      <limit effort="30" velocity="1.5" lower="${radians(180)}" upper="0.0"/>
      <joint_properties damping="100.0" friction="1000.0"/>
      <dynamics damping="1000"/>
    </joint >
    <xacro:barrett_spread fingerprefix="${prefix}right_finger_"/>

    <!-- Finger 1 -->
    <xacro:barrett_finger fingerprefix="${prefix}left_finger_"
			  parent="${prefix}left_finger_spread_link"
			  mimic_joints="${mimic_joints}">
      <origin xyz="${inner_x} 0.0 ${inner_z}"
	      rpy="${radians(90)} 0.0 0.0"/>
    </xacro:barrett_finger>

    <!-- Finger 2 -->
    <xacro:barrett_finger fingerprefix="${prefix}right_finger_"
			  parent="${prefix}right_finger_spread_link"
			  mimic_joints="${mimic_joints}">
      <origin xyz="${inner_x} 0.0 ${inner_z}"
	      rpy="${radians(90)} 0.0 0.0"/>
    </xacro:barrett_finger>

    <!-- Finger 3 -->
    <xacro:barrett_finger fingerprefix="${prefix}middle_finger_"
			  parent="${prefix}base_link"
			  mimic_joints="${mimic_joints}">
      <origin xyz="0.0 ${inner_x} ${base_height + inner_z}"
	      rpy="${radians(90)} 0.0 ${radians(90)}"/>
    </xacro:barrett_finger>

    <include filename="$(find aist_barrett
		       )/urdf/palm_tactile_sensors.urdf.xacro"/>
    <palm_tactile_sensors/>

  </xacro:macro>
</robot>
