<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="barrett_coupling" params="prefix parent_link *origin">

    <xacro:property name="coupling_radius" value="0.0445"/>
    <xacro:property name="coupling_length" value="0.010"/>

    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="8.625E-08 -4.6583E-06 0.03145" rpy="0 0 0" />
        <mass value="0.22652" />
        <inertia ixx="0.00020005" ixy="-4.2442E-10" ixz="-2.9069E-10"
		 iyy="0.00017832" iyz="-3.4402E-08" izz="0.00013478"/>
      </inertial>
      <visual>
        <origin xyz="0 0 ${coupling_length/2}" rpy="0 0 0"/>
        <geometry>
          <cylinder length="${coupling_length}" radius="${coupling_radius}"/>
        </geometry>
	<material name="">
	  <color rgba="0.796078431372549 0.796078431372549
		       0.752941176470588 1"/>
	</material>
      </visual>
      <collision>
        <origin xyz="0 0 ${coupling_length/2}" rpy="0 0 0"/>
        <geometry>
          <cylinder length="${coupling_length}" radius="${coupling_radius}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}base_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="${prefix}base_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}flange_link"/>
    <joint name="${prefix}flange_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child  link="${prefix}flange_link"/>
      <origin xyz="0 0 ${coupling_length}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
