<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">
  <xacro:macro name="barrett_hand" params="prefix parent_link *origin">

    <xacro:macro name="gray_color">
      <material name="">
	<color rgba="0.796078431372549 0.796078431372549 0.752941176470588 1"/>
      </material>
    </xacro:macro>

    <xacro:property name="base_height"	value="0.025"/>
    <xacro:property name="half_tread"	value="0.02475"/>
    <xacro:property name="medial_x"	value="0.0505"/>
    <xacro:property name="medial_z"	value="0.034"/>

    <xacro:macro name="barrett_finger"
		 params="prefix fingerprefix parent *origin">
      <joint name="${prefix}${fingerprefix}finger_joint"
	     type="revolute">
	<xacro:insert_block name="origin"/>
	<parent link="${parent}"/>
	<child  link="${prefix}${fingerprefix}medial"/>
	<axis xyz="0 0 1"/>
	<limit effort="30" velocity="1.5" lower="0.0" upper="${radians(140)}"/>
	<joint_properties damping="100.0" friction="1000.0"/>
	<dynamics damping="1000"/>
      </joint >
      <link name="${prefix}${fingerprefix}medial">
	<inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0"/>
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0"
		   iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
	  <origin xyz="0.0418 0.1115 0.0456"
		  rpy="0 ${radians(90)} ${radians(220)}"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/visual/bhand_link2.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <xacro:gray_color/>
	</visual>
	<collision>
	  <origin xyz="0.0418 0.1115 0.0456"
		  rpy="0 ${radians(90)} ${radians(220)}"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/collision/bhand_link2.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
	</collision>
      </link>

      <joint name="${prefix}${fingerprefix}distal_joint"
	     type="revolute">
	<origin xyz="0.070 0.0 0.0" rpy="0.0 0.0 0.0"/>
	<parent link="${prefix}${fingerprefix}medial"/>
	<child  link="${prefix}${fingerprefix}distal"/>
	<axis xyz="0 0 1"/>
	<mimic joint="${prefix}${fingerprefix}finger_joint"
	       multiplier="${80.0/140.0}" offset="0"/>
	<limit effort="30" velocity="1.5"
	       lower="0.0" upper="${radians(80)}"/>
	<joint_properties damping="100.0" friction="1000.0"/>
	<dynamics damping="1000"/>
      </joint >
      <link name="${prefix}${fingerprefix}distal">
	<inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0"/>
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0"
		   iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
	  <origin xyz="0.108 0.039 0.046"
		  rpy="${radians(225)} ${radians(90)} 0"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/visual/bhand_link3.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <xacro:gray_color/>
	</visual>
	<collision>
	  <origin xyz="0.108 0.039 0.046"
		  rpy="${radians(225)} ${radians(90)} 0"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/collision/bhand_link3.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
	</collision>
      </link>
    </xacro:macro>

    <xacro:macro name="barrett_proximal" params="prefix fingerprefix">
      <link name="${prefix}${fingerprefix}proximal">
	<inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0"/>
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0"
		   iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
	  <origin xyz="-0.0525 -0.0705 -0.025"
		  rpy="${radians(90)} 0 ${radians(90)}"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/visual/bhand_link1.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <xacro:gray_color/>
	</visual>
	<collision>
	  <origin xyz="-0.0525 -0.0705 -0.025"
		  rpy="${radians(90)} 0 ${radians(90)}"/>
	  <geometry>
            <mesh filename="package://aist_barrett/meshes/collision/bhand_link1.stl"
		  scale="0.001 0.001 0.001"/>
	  </geometry>
	  <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
	</collision>
      </link>
    </xacro:macro>

    <!-- Base -->
    <joint name="${prefix}base_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="${prefix}base"/>
      <xacro:insert_block name="origin"/>
    </joint>
    <link name="${prefix}base">
      <inertial>
  	<mass value="0.001"/>
	<origin xyz="0 0 0"/>
	<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <visual>
	<origin xyz="0.045 -0.0535 0.00"
		rpy="${radians(90)} 0 ${radians(-180)}"/>
	<geometry>
          <mesh filename="package://aist_barrett/meshes/visual/bhand_base.stl"
		scale="0.001 0.001 0.001"/>
	</geometry>
	<xacro:gray_color/>
      </visual>
      <collision>
	<origin xyz="0.045 -0.0535 0.0048"
		rpy="${radians(90)} 0 ${radians(-180)}"/>
	<geometry>
          <mesh filename="package://aist_barrett/meshes/collision/bhand_base.stl"
		scale="0.001 0.001 0.001"/>
	</geometry>
	<contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
      </collision>
    </link>

    <!-- Spread -->
    <joint name="${prefix}spread_joint" type="revolute">
      <origin xyz="${-half_tread} 0.0 ${base_height}"
	      rpy="0.0 0 ${radians(-90)}"/>
      <parent link="${prefix}base"/>
      <child  link="${prefix}left_proximal"/>
      <axis  xyz="0 0 -1"/>
      <limit effort="30" velocity="1.5" lower="0.0" upper="${radians(180)}"/>
      <joint_properties damping="100.0" friction="1000.0"/>
      <dynamics damping="1000"/>
    </joint>
    <xacro:barrett_proximal prefix="${prefix}" fingerprefix="left_"/>

    <joint name="${prefix}right_spread_joint" type="revolute">
      <origin xyz="${half_tread} 0.0 ${base_height}"
	      rpy="0.0 0.0 ${radians(-90)}"/>
      <parent link="${prefix}base"/>
      <child  link="${prefix}right_proximal"/>
      <axis  xyz="0 0 -1"/>
      <limit effort="30" velocity="1.5" lower="${radians(180)}" upper="0.0"/>
      <mimic joint="${prefix}spread_joint" multiplier="-1" offset="0"/>
      <joint_properties damping="100.0" friction="1000.0"/>
      <dynamics damping="1000"/>
    </joint >
    <xacro:barrett_proximal prefix="${prefix}" fingerprefix="right_"/>

    <!-- Finger 1 -->
    <xacro:barrett_finger prefix="${prefix}" fingerprefix="left_"
			  parent="${prefix}left_proximal">
      <origin xyz="${medial_x} 0.0 ${medial_z}" rpy="${radians(90)} 0.0 0.0"/>
    </xacro:barrett_finger>

    <!-- Finger 2 -->
    <xacro:barrett_finger prefix="${prefix}" fingerprefix="right_"
			  parent="${prefix}right_proximal">
      <origin xyz="${medial_x} 0.0 ${medial_z}" rpy="${radians(90)} 0.0 0.0"/>
    </xacro:barrett_finger>

    <!-- Finger 3 -->
    <xacro:barrett_finger prefix="${prefix}" fingerprefix="middle_"
			  parent="${prefix}base">
      <origin xyz="0.0 ${medial_x} ${base_height + medial_z}"
	      rpy="${radians(90)} 0.0 ${radians(90)}"/>
    </xacro:barrett_finger>

    <include filename="$(find aist_barrett
		       )/urdf/palm_tactile_sensors.urdf.xacro"/>
    <palm_tactile_sensors/>

  </xacro:macro>
</robot>
