<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">
  <xacro:macro name="barrett_hand_transmission" params="prefix">

    <xacro:macro name="joint_transmission" params="joint_name">
      <transmission name="${joint_name}_trans">
	<type>
	  transmission_interface/SimpleTransmission
	</type>
	<joint name="${joint_name}">
	  <hardwareInterface>
	    hardware_interface/PositionJointInterface
	  </hardwareInterface>
	</joint>
	<actuator name="${joint_name}_motor">
	  <hardwareInterface>
	    hardware_interface/PositionJointInterface
	  </hardwareInterface>
	  <mechanicalReduction>
	    1
	  </mechanicalReduction>
	</actuator>
      </transmission>
    </xacro:macro>

    <xacro:joint_transmission joint_name="${prefix}left_finger_joint"/>
    <xacro:joint_transmission joint_name="${prefix}right_finger_joint"/>
    <xacro:joint_transmission joint_name="${prefix}middle_finger_joint"/>
    <xacro:joint_transmission joint_name="${prefix}spread_joint"/>
    <xacro:joint_transmission joint_name="${prefix}left_finger_outer_joint"/>
    <xacro:joint_transmission joint_name="${prefix}right_finger_outer_joint"/>
    <xacro:joint_transmission joint_name="${prefix}middle_finger_outer_joint"/>
    <xacro:joint_transmission joint_name="${prefix}right_spread_joint"/>

  </xacro:macro>
</robot>
